.bl1 {
    width: 100%;
    max-width: 1280px;
    height: 490px;
    background-color: black;
    border: #C13100 5px solid;
    max-height: 560px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 25px;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 90vw;
    padding: 20px;
    padding-top: 0px;
    z-index: 100;
}

.img {
    max-width: 600px;
    object-fit: cover;
    background-size: center;
    height: 100%;
    max-height: 560px;
    width: auto;
    border-top-right-radius: 54px;
    border-bottom-right-radius: 54px;
}

.br {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.bl {
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.btt {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.imgGr {
    height: 100%;
    padding-bottom: 15px;
}

.borderRight {
    border-right: #C13100 8px solid;
}
.borderLeft {
    border-left: #C13100 8px solid;
}

.img2 {
    height: 100%;
    /*width: 390px;*/

    border-radius: 54px;
}

.img3 {
    object-fit: cover;
    width: 30%;
    height: 100px;
}

.black {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0.3) 93%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0.3) 93%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 68%, rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0.4) 85%, rgba(0, 0, 0, 0.3) 93%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    color: #fff;
    width: 60%;
    min-width: max-content;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 54px;
    border-bottom-left-radius: 54px;
    justify-content: space-between;
    max-width: 1280px;
}

.leftBl {
    flex-direction: column;
    z-index: 10;
    justify-content: space-between;
    width: max-content;
    max-width: 43vw;
    position: absolute;
    left: 0;
    top: 0;
    padding: 45px 0 45px 80px;
    height: 100%;
}

.t1 {
    font-size: 40px;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.t2 {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

.btn {
    display: flex;
    justify-content: flex-start;

}

.btn1 {
    background: #C13100;
    border-radius: 60px;
    width: 172px;
    height: 66px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    user-select: none;
    transition: all 0.3s ease;
}

.btn1:hover {
    opacity: 0.7;
    cursor: pointer;
}


.cc2 {
    margin-top: 20px;
    height: 280px;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.ccMobile {
    margin-top: 20px;
    height: max-content;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    display: none;
    width: 100%;
}

.card1 {
    max-width: 500px;
    margin-right: 7px;
    margin-left: 7px;
    width: 400px;
    height: 250px;
    border: #C13100 5px solid;
    border-radius: 60px;
    transition: all 0.3s ease;
    position: relative;
    user-select: none;
    text-align: center;
}


.card1:hover {
    border: white 5px solid;
}

.tt3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 390px;
    height: 250px;
    font-size: 40px;
    font-weight: 500;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 54px;

}
.tt5 {
    font-weight: 500;
    color: white;
    font-size: 27px;
    padding-top: 7px;
    padding-bottom: 10px;
}

.blf {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 34%, rgba(0, 0, 0, 0.3) 64%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 34%, rgba(0, 0, 0, 0.3) 64%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 34%, rgba(0, 0, 0, 0.3) 64%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 250px;
    border-radius: 54px;
    max-height: 300px;
}

.rHover {
    border-radius: 54px;
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 250px;
    background-color: transparent;
    transition: all 0.3s ease;
    z-index: 11;
}

.card2 {
    display: flex;
    justify-content: flex-start;
    border: #C13100 1px solid;
    border-radius: 19px;
    max-width: 400px;
    max-height: 258px;
    width: 100%;
    margin-top: 25px;
}


.rHover:hover {
    background-color: rgba(193, 49, 0, 0.32);
    cursor: pointer;
}

@media (width < 843px) {
    .bl1 {
        display: none;
    }
}

@media (width < 1100px) {
    .cc2 {
        display: none;
    }

    .ccMobile {
        display: flex;
    }

    .img {
        width: 100%;
        border-radius: 54px;

    }
}

@media (width < 1400px) {

    .rHover {
        width: 100%;
        height: 250px;
    }

    .tt3 {
        font-size: clamp(35px, 1.5vw, 35px);
        width: 100%;
    }

    .blf {
        width: 100%;
    }

    .t2 {
        font-size: clamp(16px, 1.5vw, 25px);
    }

    .t1 {
        font-size: 33px;
    }

    .cont {
        width: 100vw;

    }
}