.field {
    display: flex;
    gap: 15px;
}

.field .key {
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
}

.field .value {
    font-size: 3rem;
}

@media (max-width: 1025px) {

    .field .key {
        font-size: 2.3rem;
    }

    .field .value {
        font-size: 2.3rem;
    }

}

@media (max-width: 950px) {

    .field .key {
        font-size: 1.8rem;
    }

    .field .value {
        font-size: 1.8rem;
    }

}