.field {
    display: flex;
    gap: 15px;
}

.field .key {
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
}

.field .value {
    font-size: 30px;
}

@media (max-width: 950px) {

    .field .key {
        font-size: 18px;
    }

    .field .value {
        font-size: 18px;
    }

}