.achievement.compact {
  width: 450px;
  height: 220px;
  border: 5px solid var(--primary-color);
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}

.achievement.compact .title {
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
  margin: 0 5px;
}

.achievement.compact:hover {
  border-color: white;
}

.achievement.outer {
  margin: 0 auto;
  width: min(1400px, 94vw);
  height: 420px;
  border: 5px solid var(--primary-color);
  border-radius: 60px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: black;
}

.achievement.outer .inner {
  padding: 35px;
  background: linear-gradient(to right, rgba(0,0,0,1) 60%, rgba(0, 0, 0, 0));
  height: 100%;
}

.achievement.outer .inner .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: min(720px, 55vw);
  max-height: 180px;
}

.achievement.outer .title {
  font-size: 4rem;
}

.achievement.outer .description {
  font-size: 2.5rem;
}

.achievement.outer .inner .actions {
  margin-top: 110px;
  display: flex;
  gap: 20px;
}

.achievement.outer .button {
  width: 172px;
  height: 66px;
  border-radius: 60px;
  background-color: var(--primary-color);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: filter 0.3s;
}

.achievement.outer .button:hover {
  filter: brightness(80%);
}

.achievement-mobile-outer {
  border: 2px solid var(--primary-color);
  border-radius: 24px;
  display: flex;
  overflow: hidden;
}

.achievement-mobile-outer img {
  width: 86px;
  height: 100%;
  min-height: 100px;
  object-fit: cover;
  object-position: center;
}

.achievement-mobile-outer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 5px;
  padding: 10px 0px;
}

.achievement-mobile-outer .title {
  font-size: 2.4rem;
  text-align: center;
}

.achievement-mobile-outer .v-delimiter {
  width: 8px;
  background-color: var(--primary-color);
}

.achievement-mobile-outer .h-delimiter {
  height: 3px;
  width: 80%;
  background-color: var(--primary-color);
}

.achievement-mobile-outer .link-field .title {
  text-transform: uppercase;
}