.navbar-outer {
    display: grid;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 100;
    top: 0;
}

.navbar-inner {
    margin-top: 30px;
    display: flex;
    width: min(var(--max-container-width), 90vw);
    justify-content: space-between;
}

.navbar-outer .logo-outer {
    transition: opacity .3s;
}
