.contact-card-outer {
    border: 3px solid var(--primary-color);
    margin-left: 20px;
    margin-top: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 35px;
    background: rgba(0,0,0,0.8);
    width: min(550px, 90vw);
    height: min(630px, 60vh);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.contact-card-inner {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.contact-card-inner .block {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-card-inner .list {
    display: flex;
    gap: 20px;
}

@media (max-width: 1025px) {

    .contact-card-inner .block {
        font-size: 2.3rem;
    }

}

@media (max-width: 950px) {

    .contact-card-inner {
        padding: 20px;
        gap: 20px;
    }

    .contact-card-inner .block {
        font-size: 1.8rem;
    }

    .contact-card-outer {
        margin-top: 0px;
        margin-right: 10px;
    }

}